<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="images/img.jpg" alt=""><%= current_user.email %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
           
            <% if user_signed_in? %>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, data: {confirm: "Want to logout?"}%>
              </li>
            <% else %>

               <li>
                <%= link_to "Login", new_user_session_path%>
              </li>

            <% end%>
          </ul>
        </li>

        
      </ul>
    </nav>
  </div>
</div>