  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>SIGDM</span></a>
      </div>

      <div class="clearfix"></div>

      <!-- menu profile quick info -->
      <br>

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">

            
          <ul class="nav side-menu" style="">
            <li>
              <%= link_to patients_path do  %>
                <i class="fa fa-user"></i> Patients
              <% end %>
            </li>

            <li>
              <%= link_to doctors_path do  %>
                <i class="fa fa-user-md"></i> Doctors
              <% end %>
            </li>

            
            <li>
              <%= link_to appointments_path do  %>
                <i class="fa fa-calendar"></i> Appointments
              <% end %>
            </li>


           
          </ul>

           <!--  <li><a><i class="fa fa-desktop"></i> Create Appointment</a>
            </li>
            <li><a><i class="fa fa-table"></i> View Appintments</span></a>
            </li> -->
        </div>

      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>

        <a data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Logout">

          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>