


 <div class="right_col" role="main" style="min-height: 1063px;">

  <div class="">
    <div >
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Doctors Listing </h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <%= link_to 'Add Doctor', new_doctor_path, class: "btn btn-primary btn-lg"  %>
          <div class="x_content">
            <ul class="list-unstyled msg_list">
              <% @doctors.each do |doctor| %>
                <%= render partial: "/doctors/single_doctor", locals: {doctor: doctor} %>

              <%end%>
            </ul>
            <br>
            
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>